@model IEnumerable<FinalProject.Models.Event>


@{
    ViewBag.Title = "Browse";
}
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MVCEventScripts/MVCSearchs.js"></script>
}

<h2>Browse</h2>
<div id="DailyDeal">
    @Ajax.ActionLink("Click here to see today's special.",
    "DailyDeal", null, new AjaxOptions
    {
        UpdateTargetId = "DailyDeal",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-primary" })
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by Event Title</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("EventSearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "EventFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchresults"
        }))
        {
            <input type="text" name="q" />
            <input type="submit" value="search" />
            <img id="ajax-loader"
                 src="@Url.Content("~/Content/Images/ajax-loader.gif")"
                 style="display:none" />
        }
        <div id="searchresults"></div>
    </div>
</div>
<div id="eventlist">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Title,"Index/", new { id = item.EventID })
            </li>
        }

    </ul>
</div>


