@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    666 Highway to Hell<br />
    Hell Twnshp, MI 48169<br />
    <abbr title="Phone">P:</abbr>
    666.666.4666
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:Abraxas@example.com">Abraxas@example.com</a><br />
    <strong>Subliminal Messaging:</strong> <a href="mailto:Molochg@example.com">Moloch@example.com</a>
</address>