@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MVCEventScripts/EventScripts.js"></script>
}
<div id="LastMinuteDeals">
    @Ajax.ActionLink("Click here to see today's special.",
    "LastMinuteDeals", null, new AjaxOptions
    {
        UpdateTargetId = "LastMinuteDeals",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @class = "btn btn-primary" })
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by City</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("CitySearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "EventFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "CitySearch"
        }))
        {
            <input type="text" name="a" />
            <input type="submit" value="search" />

        }
        <div id="CitySearch"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by State</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("StateSearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "EventFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "StateSearch"
        }))
        {
            <input type="text" name="a" />
            <input type="submit" value="search" />

        }
        <div id="StateSearch"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by Type</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("TypeSearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "EventFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "TypeSearch"
        }))
        {
            <input type="text" name="a" />
            <input type="submit" value="search" />

        }
        <div id="TypeSearch"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class=" panel-heading">Search by Name</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("EventSearch", "Home", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "EventFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "EventSearch"
        }))
        {
            <input type="text" name="a" />
            <input type="submit" value="search" />

        }
        <div id="EventSearch"></div>
    </div>
</div>
