@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a list of demons that appear in religion, theology, demonology, mythology, and folklore. It is not a list of names of demons, although some are listed by more than one name.</p>
