
@model IEnumerable<FinalEventApplication.Models.Organizer>
<div id="Event-list">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.OrganizerId</li>
        }
    </ul>
</div>